<launch>

  <arg name="ns"        default="jackal0"/>

  <rosparam command="load" file="$(find jackal_control)/config/control.yaml" ns="$(arg ns)"/>

  <param name="$(arg ns)/jackal_velocity_controller/odom_frame_id" value="$(arg ns)/odom"/>
  <param name="$(arg ns)/jackal_velocity_controller/base_frame_id" value="$(arg ns)/base_link"/>
  

  <node name="controller_spawner" pkg="controller_manager" type="spawner"
        args="jackal_joint_publisher jackal_velocity_controller" ns="$(arg ns)"/>



</launch>
